{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
<br />
{{ parent() }}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Acessar sistema</h1>
</div>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
    </div>

    <button type="submit" class="btn btn-primary">login</button>
</form>

{% endblock %}
