{% extends 'base.html.twig' %}

{% block title %}Editar categoria{% endblock %}

{% block body %}
    <h1>Editar categoria</h1>

    {{ include('tipo_material/_form.html.twig', {'button_label': 'Salvar'}) }}

{#
    <a href="{{ path('tipo_material_index') }}">back to list</a>
    {{ include('tipo_material/_delete_form.html.twig') }}
#}
{% endblock %}
