{% extends 'base.html.twig' %}

{% block title %}Categoria dos Materiais de Empréstimo{% endblock %}

{% block body %}
    <h1>Categorias dos itens de empréstimo</h1>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_material in tipo_materials %}
            <tr>
                <td>{{ tipo_material.nome }}</td>
                <td>
                    <a href="{{ path('tipo_material_show', {'id': tipo_material.id}) }}"><span class="oi oi-eye"></span></a>
                    <a href="{{ path('tipo_material_edit', {'id': tipo_material.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_material_new') }}" class="btn btn-success">Nova categoria</a>
{% endblock %}
