{% extends 'base.html.twig' %}

{% block title %}Nova categoria{% endblock %}

{% block body %}
    <br />
    <h1>Nova categoria</h1>

    {{ include('tipo_material/_form.html.twig') }}

{% endblock %}
