{% extends 'base.html.twig' %}

{% block title %}Editar Material{% endblock %}

{% block body %}
    <h1>Editar Material</h1>

    {{ include('material/_form.html.twig', {'button_label': 'Salvar'}) }}

{#
    <a href="{{ path('material_index') }}">back to list</a>
    {{ include('material/_delete_form.html.twig') }}
#}
{% endblock %}
