{% extends app.request.isXmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}

{% block title %}Novo Visitante{% endblock %}

{% block body %}
    <br />

    {% if app.request.isXmlHttpRequest %}
    <div id="modal-new-visitante" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    {% endif %}
    <h1>Cadastro de Visitante</h1>
    {% if app.request.isXmlHttpRequest %}
                </div>
                <div class="modal-body">
    {% endif %}
        {{ include('visitante/_form.html.twig') }}
    {% if app.request.isXmlHttpRequest %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    

{% endblock %}
