{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empréstimo visitante</h1>

    {{ form_start(form) }}
        {{ form_row(form.material,{'label': 'Coódigo'}) }}
        {{ form_row(form.visitante,{'label': 'Visitante'}) }}

        <button type="submit" class="btn btn-primary"> Emprestar </button>
    {{ form_end(form) }}

{% endblock %}


