{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <br />
    <h1>Usuários</h1>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><span class="oi oi-eye"></span></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-success">Novo usuário</a>
{% endblock %}
